{% load i18n static %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky flex-shrink-0 pt-3 ps-2 pe-2" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
  <input type="search" class="form-control form-control-sm bg-black" id="nav-filter-old"
         placeholder="{% translate 'Start typing to filter…' %}"
         aria-label="{% translate 'Filter navigation items' %}">
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
<script src="{% static 'admin/js/nav_sidebar.js' %}"></script>