<!-- Open Graph metadata -->
<meta property="og:title" content="{{open_graph.title}}">
<meta property="og:type" content="{{open_graph.type}}"/>
<meta property="og:image" content="{{open_graph.url_image}}">
<meta property="og:image:width" content="{{open_graph.width_image}}">
<meta property="og:image:height" content="{{open_graph.height_image}}">
<meta property="og:description" content="{{open_graph.description}}">
<meta property="og:url" content= "{{open_graph.url}}"/>
<meta property="og:site_name" content="{{open_graph.site_name}}"/>

<!-- Open Graph Twitter metadata -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{open_graph.twitter_title}}">
<meta property="twitter:description" content="{{open_graph.twitter_description}}">
<meta property="twitter:url" content="{{open_graph.twitter_url}}">

<!-- Open Graph Facebook metadata -->
<meta name="fb:app_id" content="{{open_graph.facebook_app_id}}">